<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">
	<include resource="org/springframework/boot/logging/logback/base.xml" />

    <timestamp key="byDate" datePattern="yyyyMMdd"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${catalina.base}/logs/ERP-MAINSITE-SERVICE-${byDate}.txt</file>
        <encoder>
            <pattern>%d %-5level [%thread] %logger{0}: %msg%n</pattern>
            <!--<outputPatternAsHeader>true</outputPatternAsHeader>-->
        </encoder>
    </appender>
    <appender name="udp_logstash" class="net.logstash.logback.appender.LogstashSocketAppender">
        <host>172.16.249.193</host>
        <port>7016</port>
        <customFields>{"appname":"ERP-MAINSITE-SERVICE"}</customFields>
    </appender>

    <logger name="cn.bravolinks.erp.mainsite.server.controller.DataController" level="INFO" additivity="false">
        <appender-ref ref="file"/>
        <appender-ref ref="udp_logstash"/>
    </logger>
    
    <logger name="cn.bravolinks.erp.mainsite.server.controller.EipCmContentController" level="INFO" additivity="false">
        <appender-ref ref="file"/>
        <appender-ref ref="udp_logstash"/>
    </logger>
    
    <logger name="cn.bravolinks.erp.mainsite.server.controller.GzwtServerMappingController" level="INFO" additivity="false">
        <appender-ref ref="file"/>
        <appender-ref ref="udp_logstash"/>
    </logger>
    
    <logger name="cn.bravolinks.erp.mainsite.server.controller.WorkFlowURLMappingController" level="INFO" additivity="false">
        <appender-ref ref="file"/>
        <appender-ref ref="udp_logstash"/>
    </logger>
	<root level="WARN">
        <!--<appender-ref ref="stdout"/>-->
        <appender-ref ref="file"/>
        <appender-ref ref="udp_logstash"/>
    </root>

</configuration>