# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war

## File-based project format:
*.iws
*.iml
*.ipr

*.out
*.DS_Store

### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
.mvn
.settings/
.classpath
.project
