<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bravolinks.erp.mainsite.server.dao.boAwsCommisionsDao" >
  <resultMap id="BaseResultMap" type="cn.bravolinks.erp.mainsite.server.model.BO_AWS_COMMISION_S" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="ORGNO" property="orgno" jdbcType="OTHER" />
    <result column="BINDID" property="bindid" jdbcType="DECIMAL" />
    <result column="CREATEDATE" property="createdate" jdbcType="TIMESTAMP" />
    <result column="CREATEUSER" property="createuser" jdbcType="OTHER" />
    <result column="UPDATEDATE" property="updatedate" jdbcType="TIMESTAMP" />
    <result column="UPDATEUSER" property="updateuser" jdbcType="OTHER" />
    <result column="WORKFLOWID" property="workflowid" jdbcType="DECIMAL" />
    <result column="WORKFLOWSTEPID" property="workflowstepid" jdbcType="DECIMAL" />
    <result column="ISEND" property="isend" jdbcType="DECIMAL" />
    <result column="UID2" property="uid2" jdbcType="OTHER" />
    <result column="UNAME2" property="uname2" jdbcType="OTHER" />
    <result column="WFRANGE" property="wfrange" jdbcType="OTHER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ORGNO, BINDID, CREATEDATE, CREATEUSER, UPDATEDATE, UPDATEUSER, WORKFLOWID, WORKFLOWSTEPID, 
    ISEND, UID2, UNAME2, WFRANGE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from BO_AWS_COMMISION_S
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from BO_AWS_COMMISION_S
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="cn.bravolinks.erp.mainsite.server.model.BO_AWS_COMMISION_S" >
     <selectKey resultType="integer" order="BEFORE" keyProperty="id">
            select BO_AWS_COMMISION_SEQ.nextval from dual
     </selectKey> 
    insert into BO_AWS_COMMISION_S (ID, ORGNO, BINDID, 
      CREATEDATE, CREATEUSER, UPDATEDATE, 
      UPDATEUSER, WORKFLOWID, WORKFLOWSTEPID, 
      ISEND, UID2, UNAME2, WFRANGE
      )
    values (#{id}, #{orgno}, #{bindid}, 
      #{createdate}, #{createuser}, #{updatedate}, 
      #{updateuser}, #{workflowid}, #{workflowstepid}, 
      #{isend}, #{uid2}, #{uname2}, #{wfrange}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.bravolinks.erp.mainsite.server.model.BO_AWS_COMMISION_S" >
    insert into BO_AWS_COMMISION_S
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="orgno != null" >
        ORGNO,
      </if>
      <if test="bindid != null" >
        BINDID,
      </if>
      <if test="createdate != null" >
        CREATEDATE,
      </if>
      <if test="createuser != null" >
        CREATEUSER,
      </if>
      <if test="updatedate != null" >
        UPDATEDATE,
      </if>
      <if test="updateuser != null" >
        UPDATEUSER,
      </if>
      <if test="workflowid != null" >
        WORKFLOWID,
      </if>
      <if test="workflowstepid != null" >
        WORKFLOWSTEPID,
      </if>
      <if test="isend != null" >
        ISEND,
      </if>
      <if test="uid2 != null" >
        UID2,
      </if>
      <if test="uname2 != null" >
        UNAME2,
      </if>
      <if test="wfrange != null" >
        WFRANGE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="orgno != null" >
        #{orgno,jdbcType=OTHER},
      </if>
      <if test="bindid != null" >
        #{bindid,jdbcType=DECIMAL},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=OTHER},
      </if>
      <if test="updatedate != null" >
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        #{updateuser,jdbcType=OTHER},
      </if>
      <if test="workflowid != null" >
        #{workflowid,jdbcType=DECIMAL},
      </if>
      <if test="workflowstepid != null" >
        #{workflowstepid,jdbcType=DECIMAL},
      </if>
      <if test="isend != null" >
        #{isend,jdbcType=DECIMAL},
      </if>
      <if test="uid2 != null" >
        #{uid2,jdbcType=OTHER},
      </if>
      <if test="uname2 != null" >
        #{uname2,jdbcType=OTHER},
      </if>
      <if test="wfrange != null" >
        #{wfrange,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.bravolinks.erp.mainsite.server.model.BO_AWS_COMMISION_S" >
    update BO_AWS_COMMISION_S
    <set >
      <if test="orgno != null" >
        ORGNO = #{orgno,jdbcType=OTHER},
      </if>
      <if test="bindid != null" >
        BINDID = #{bindid,jdbcType=DECIMAL},
      </if>
      <if test="createdate != null" >
        CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null" >
        CREATEUSER = #{createuser,jdbcType=OTHER},
      </if>
      <if test="updatedate != null" >
        UPDATEDATE = #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        UPDATEUSER = #{updateuser,jdbcType=OTHER},
      </if>
      <if test="workflowid != null" >
        WORKFLOWID = #{workflowid,jdbcType=DECIMAL},
      </if>
      <if test="workflowstepid != null" >
        WORKFLOWSTEPID = #{workflowstepid,jdbcType=DECIMAL},
      </if>
      <if test="isend != null" >
        ISEND = #{isend,jdbcType=DECIMAL},
      </if>
      <if test="uid2 != null" >
        UID2 = #{uid2,jdbcType=OTHER},
      </if>
      <if test="uname2 != null" >
        UNAME2 = #{uname2,jdbcType=OTHER},
      </if>
      <if test="wfrange != null" >
        WFRANGE = #{wfrange,jdbcType=OTHER},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.bravolinks.erp.mainsite.server.model.BO_AWS_COMMISION_S" >
    update BO_AWS_COMMISION_S
    set ORGNO = #{orgno,jdbcType=OTHER},
      BINDID = #{bindid,jdbcType=DECIMAL},
      CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      CREATEUSER = #{createuser,jdbcType=OTHER},
      UPDATEDATE = #{updatedate,jdbcType=TIMESTAMP},
      UPDATEUSER = #{updateuser,jdbcType=OTHER},
      WORKFLOWID = #{workflowid,jdbcType=DECIMAL},
      WORKFLOWSTEPID = #{workflowstepid,jdbcType=DECIMAL},
      ISEND = #{isend,jdbcType=DECIMAL},
      UID2 = #{uid2,jdbcType=OTHER},
      UNAME2 = #{uname2,jdbcType=OTHER},
      WFRANGE = #{wfrange,jdbcType=OTHER}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <select id="selectBOAWSByBindid" resultType="cn.bravolinks.erp.mainsite.server.model.BO_AWS_COMMISION_S" parameterType="java.lang.Integer" >
  	 select 
    *
    from BO_AWS_COMMISION_S
    where BINDID = #{0}
  
  </select>
</mapper>