<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bravolinks.erp.mainsite.server.dao.WorkFlowURLMappingDao">
    <cache/>
    <!--删除-->
    <update id="delById" parameterType="integer">
        update WORKFLOW_URL_MAPPING set is_delete=0 where id=#{0}
    </update>

    <!--更新-->
    <update id="updById" parameterType="cn.bravolinks.erp.mainsite.server.model.WorkFlowURLMapping">
        update WORKFLOW_URL_MAPPING
        set
        update_date=#{updateDate},
        uuid=#{uuid,jdbcType=VARCHAR},
        name=#{name,jdbcType=VARCHAR},
        url=#{url,jdbcType=VARCHAR},
        stepno=#{stepno,jdbcType=DECIMAL},
        type=#{type,jdbcType=VARCHAR}
         where id = #{id}
    </update>

    <!--查询-->
    <select id="get" resultType="WorkFlowURLMapping" parameterType="WorkFlowURLMapping">
        select * from WORKFLOW_URL_MAPPING
        where is_delete=1
        <if test="type!=null">
            and type=#{type}
        </if>
        <if test="name!=null">
            and name like '%'||#{name}||'%'
        </if>
        order by id desc
    </select>

    <!--添加-->
    <insert id="add" parameterType="cn.bravolinks.erp.mainsite.server.model.WorkFlowURLMapping">
        <selectKey resultType="integer" order="BEFORE" keyProperty="id">
            select WORKFLOW_URL_MAPPING_SEQ.nextval from dual
        </selectKey>
        insert into WORKFLOW_URL_MAPPING(ID,CREATE_DATE,IS_DELETE,UUID,NAME,URL,STEPNO,TYPE) VALUES (
        #{id},
        #{createDate},
        #{isDelete},
        #{uuid,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR},
        #{url,jdbcType=VARCHAR},
        #{stepno,jdbcType=DECIMAL},
        #{type,jdbcType=VARCHAR}
        )
    </insert>
</mapper>